<mat-toolbar fxLayout="row" fxLayoutAlign="space-evenly center">
  <a mat-button href="https://www.github.com/brignano" target="_blank">
    <mat-icon svgIcon="github"></mat-icon>
  </a>
  <a mat-button href="https://www.linkedin.com/in/brignano" target="_blank">
    <mat-icon svgIcon="linkedin"></mat-icon>
  </a>
  <a mat-button href="https://www.facebook.com/brignano" target="_blank">
    <mat-icon svgIcon="facebook"></mat-icon>
  </a>
  <a mat-button href="https://www.twitter.com/brignano_" target="_blank">
    <mat-icon svgIcon="twitter"></mat-icon>
  </a>
</mat-toolbar>
