mat-toolbar {
  background: transparent;
  & mat-toolbar-row {
    @media(min-width: 768px){
      width: 75%;
      align-self: center;
      & a:hover {
        color: rgb(0, 0, 0, 0.87);
        transition: all 0.5s ease;
      }
    }
  }
}

.mat-button {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.color-dark {
  color: rgb(0, 0, 0, 0.87) !important;
}
