mat-toolbar {
  background: transparent;
  & mat-toolbar-row {
    @media(min-width: 768px){
      width: 75%;
      align-self: center;
      & a:hover {
        color: rgb(0, 0, 0, 0.87);
        transition: all 0.5s ease;
      }
    }
  }
}

.color-dark {
  color: rgb(0, 0, 0, 0.87) !important;
}
