@media only screen and (max-width: 512px) {
  img {
    height: 56px;
    width: 56px;
  }
}

mat-toolbar {
  position: fixed;
  background: transparent;
  &.transparent {
    transition: background 750ms ease-out, color 1000ms ease-in;
  }
  &.opaque {
    background: black;
    opacity: 0.8;
    color: white;
    transition: background 1000ms ease-out, color 1250ms ease-in;
  }
  & span {
    margin: auto;
  }
}
