<mat-toolbar>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign.lt-md="space-evenly center">
      <a aria-label="Home" [routerLink]='"home"' [routerLinkActive]='"mat-primary"' mat-button [@enterAnimation_Home]>Home</a>
      <a aria-label="Resume" [routerLink]='"resume"' [routerLinkActive]='"mat-primary"' mat-button [@enterAnimation_Resume]>Resume</a>
<!--      <a aria-label="Projects" [routerLink]='"projects"' [routerLinkActive]='"mat-primary"' mat-button [@enterAnimation_Projects]>Projects</a>-->
  </mat-toolbar-row>
</mat-toolbar>

