@import url('https://fonts.googleapis.com/css?family=Sacramento|Patrick+Hand&display=swap');

section#home {
  h1.mat-display-3 span {
    font-family: 'Sacramento', cursive;
    font-weight: normal;
  }

  h1.mat-display-3 {
    margin-bottom: 16px;
  }

  .mat-display-3,
  .mat-typography .mat-display-3,
  .mat-headline,
  .mat-typography .mat-headline {
    font-family: 'Patrick Hand', cursive !important;
  }
}
